/*
    Cascading Style Sheet
    우선순위 : style > id > class > tag
*/

/* class selector */
.profile {
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.title {
    text-align: center;
    letter-spacing: -1px;
}

.content {
    text-align: center;
}

/* tag selector */
p {
    color: skyblue;
}

.box {
    width: 200px;
    background: cadetblue;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px black;
}

.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    /* float: left; : 박스 가로배치 시) 요소를 붕 띄워서 왼쪽정렬 */
    display: inline-block;/* 내 크기만큼 차지(' '공백제거해야) cf) block:한 행을 전부 차지 */
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
    /* float: left; */
    display: inline-block;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    /* clear: both; : float 다음요소에게 -> float이상현상 해결 */
}

.navbar>li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
} /* selector 문법
> : ~안에 있는 직계자식
공백 : ~안에 있는 모든자식
*/

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.link:visited {
    color: black;
} /* 방문 후(visited) */

table {
    border-collapse: collapse;
} /* table은 기본적으로 틈이 존재 -> 없애기 위해 */
td, th {
    border: 1px solid black;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

/* 마우스 올릴 때 */
.btn:hover {
    background-color: chocolate;
}

/* 클릭 중 스타일 */
.btn:active {
    background-color: brown;
}

/* 커서찍혀있을때 */
.btn:focus {
    background-color: gray;
}