.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    /* 빈공간 없이 배경으로 꽉채우기. 배경짤려도 상관x. contain는 여백있어도 배경안잘리게 */
    background-repeat: no-repeat;
    background-position: center; /* 배경위치조정가능 */
    background-attachment: fixed; /* 스크롤시 배경위치 조정가능 */
    filter: brightness(70%) saturate(200%); /* 보정. 안에 글씨있으면 마찬가지로 포함 */
    padding: 1px; /* 마진붕괴현상으로 테두리 안겹치게 */
} /* 배경으로 이미지(경로) 삽입 */
/* background-size를 상위바디태그의 100%. but 작으면 이미지 반복(height에 의해) -> no-repeat으로 처리 -> 대신 남는사이즈에 공백 -> so, 'cover' */

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 300px;
} /* margin collapse 현상: 박스 2개의 위쪽 테두리가 겹치면 margin도 합쳐짐
같은방향으로 여백 -> 큰 여백을 기준으로 나뉨
*/


/* 폰트 커스텀 (woff 권장)
@font-face {
    font-family: '이쁜폰트';
    src: url(../font/NanumSquareR.ttf);
}

body {
    font-family: '이쁜폰트';
    transform: rotate(0.03deg)
}
*/

.flip-outer {
    width: 300px;
    height: 300px;
}

.flip-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: all 1s;
    transform-style: preserve-3d;
}
/* 앞면, 뒷면 배치 */

.flip-inner:hover {
    transform: rotateY(180deg);
}

.front {
    width: 100%;
    position: relative;
    /* backface-visibility: hidden; 뒷면 안보이게 */
}

.back {
    width: 100%;
    position: relative;
    text-align: center;
    transform: rotateY(180deg);
}
/* y축 기준으로 돌려라 (뒤집었을때 뒷면 글자 제대로 */